.button {
  background-color: transparent;
  border: none;
  outline: none;
  height: 20px;
  margin: 0;
  padding: 0;
}
.item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: rgb(134, 131, 131);
  padding-bottom: 1px;
  margin-bottom: 7px;
  box-shadow: 1px 2px 5px -4px #000000;
}
.icon {
  margin-bottom: -2px;
  margin-right: 5px;
  background-color: #000;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  transition: ease-in-out 300ms;
}
.icon:hover {
  background-color: #fff;
  transition: ease-in-out 300ms;
}

.loading {
  font-size: 15px;
}
